package ${package}.${moduleName}.controller;

import java.util.Arrays;
import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;

import icu.lijiaqi.gulimall.common.pojo.R;



/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${moduleName}/${pathName}")
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;

    /**
    * 通过分页查询
    */
    @GetMapping("/listByPage")
    public R findAll(@RequestParam(defaultValue = "1") Integer currentPage,@RequestParam(defaultValue = "2") Integer size){
        List<${className}Entity> list = ${classname}Service.getListByPage(currentPage,size);
        return R.ok("分页查询成功",list);
    }

    /**
    * 查询全部信息
    */
    @RequestMapping("/list")
    public R list(){
        List<${className}Entity> list = ${classname}Service.list();
        return R.ok("查询全部成功",list);
    }
    /**
     * 信息By Id
     */
    @RequestMapping("/find/{${pk.attrname}}")
    public R info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}){
		${className}Entity ${classname} = ${classname}Service.getById(${pk.attrname});

        return R.ok().put("${classname}", ${classname});
    }

    /**
     * 保存
     */
    @RequestMapping("/save")
    public R save(@RequestBody ${className}Entity ${classname}){
		${classname}Service.save(${classname});

        return R.ok("添加成功");
    }

    /**
     * 修改
     */
    @RequestMapping("/update")
    public R update(@RequestBody ${className}Entity ${classname}){
		${classname}Service.updateById(${classname});

        return R.ok("修改成功");
    }

    /**
     * 删除
     */
    @RequestMapping("/delete")
    public R delete(@RequestBody ${pk.attrType}[] ${pk.attrname}s){
		${classname}Service.removeByIds(Arrays.asList(${pk.attrname}s));

        return R.ok("删除成功");
    }

}
